@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf");
}
*{
	font-family: "Montserrat-Regular";
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.container{
	padding-left: 0;
	padding-right: 0;
}

.clients{
	border-top: 1px solid #FF874F;
	background-image: url("../img/clients/clients_bg.png");
	background-repeat: no-repeat;
  background-position: center top;
	min-height: 100%;
	padding-top:141px;
	padding-bottom: 160px;
}
.clients-text{
	font-family: "Montserrat-SemiBold";
	font-size:36px;
}
.gradient {
	margin-left: -137px;
	margin-right: -137px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 53.54%);
}

.listofClients {
	background-color: #fff;
}

.client {
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	margin-bottom: 10px;
	height: 240px;
	-webkit-transition: align-items 1.4s;
	transition: align-items 1.4s;
}

.client:hover {
	align-items: left;
}

.client:after{
	display: block;
	width: 200px;
	height: 240px;
	content : "";
    position: absolute;
	top: 0;
	margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
    opacity : 0;
    z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: opacity 1.4s;
	transition: opacity 1.4s;
}

.client:hover:after{
	opacity:1;
}

.client.years-1:after {
	background-image: url("../img/clients/client-years-of-work/1_year_work.png");
}

.client.years-2:after {
	background-image: url("../img/clients/client-years-of-work/2_year_work.png");
}

.client.years-3:after {
	background-image: url("../img/clients/client-years-of-work/3_year_work.png");
}

.client.years-4:after {
	background-image: url("../img/clients/client-years-of-work/4_year_work.png");
}

.client.years-5:after {
	background-image: url("../img/clients/client-years-of-work/5_year_work.png");
}

.client.years-6:after {
	background-image: url("../img/clients/client-years-of-work/6_year_work.png");
}

.client.years-7:after {
	background-image: url("../img/clients/client-years-of-work/7_year_work.png");
}

.client.years-8:after {
	background-image: url("../img/clients/client-years-of-work/8_year_work.png");
}

.client.years-9:after {
	background-image: url("../img/clients/client-years-of-work/9_year_work.png");
}

.client.years-10:after {
	background-image: url("../img/clients/client-years-of-work/10_year_work.png");
}

.client.years-11:after {
	background-image: url("../img/clients/client-years-of-work/11_year_work.png");
}

.client.years-12:after {
	background-image: url("../img/clients/client-years-of-work/12_year_work.png");
}

.client img {
	width: 200px;
	max-height: 200px;
	position:center;
	-webkit-transition: width 0.7s;
	transition: width 0.7s;
}

.client:hover img{
	width: 115px;
	position:top;
/*	transform: translateY(-90px);*/
}

