@font-face {
  font-family: 'Montserrat-Regular';
  src: url(fonts/Montserrat-Regular.ttf);
}
*{
	font-family: "Montserrat-Regular";
	color:black;
}
/*----------------------*/
/*--------header--------*/
.navbar{
	padding:0;
}
.nav-link{
	padding:0;
}
.nav-item{
	border-bottom:3px solid white;
	padding-bottom: 4px;
}
.nav-item:hover{
	border-bottom: 3px solid #FF874F;
}
.head-cont{
	padding-left:9px ;
	padding-right: 17px;
	padding-top: 33px;
	padding-bottom:54px ;
	font-size: 14px;

}
/*----------------------*/
/*--------footer--------*/
footer{
	background-color: #383745;
padding-top: 28px;
	padding-bottom: 28px;
}
.footer-color{
	color:white;
}

/*------------------------*/
.main{
  margin-top: -8px;
  padding-top: 35px;
  padding-bottom: 53px;
  height: 100%;
  background-image: url('img/back.png') ;
  background-repeat: no-repeat ;
  background-size: 100%;

}
.gradient{
  margin-left: -137px;
  margin-right: -137px;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 53.54%);
}
.clients{

background-color: #fff;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.listofClients{

  margin-top:50px;
  margin-bottom: 50px;
  justify-content: center;
}
img {
max-width: 240px;
padding: 35px;
margin: 15px;
border-radius: 25px 15px 50px 15px;


}
