@font-face {
  font-family: 'Montserrat-Regular';
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
		font-family: 'Montserrat-Medium';
		src: url(fonts/Montserrat-Medium.ttf);
}
*{
	font-family: "Montserrat-Regular";
	color:black;
}
body{
	background-color: #F2F2F7;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.button{
	width:165px;
	height:40px;
	background-color:#FF874F;
	color:white;
}
.container{
	padding-left: 0;
	padding-right: 0;
}
.list{
	padding-left:0;
	list-style: none;
}
.list li:before {
  content:  "—";
  position: relative;
  right:5px;
}
.list li{
	padding-top: 10px;
	padding-bottom:7px;
}
/*----------------------*/
/*--------header--------*/
.header{
	background-color: white;
}
.navbar{
	padding:0;
}
.nav-link{
	padding:0;
}
.nav-item{
	border-bottom:3px solid white;
	padding-bottom: 4px;
}
.nav-item:hover{
	border-bottom: 3px solid #FF874F;
}
.head-cont{
	padding-left:9px ;
	padding-right: 17px;
	padding-top: 33px;
	padding-bottom:54px ;
	font-size: 14px;
}

